<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秒杀系统</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">

    <!-- App css -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link href="../static/css/icons.css" rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <!-- icon css -->
    <link href="../static/css/iconfont.css" rel="stylesheet" type="text/css" th:href="@{/css/iconfont.css}" />

    <style>
    </style>
</head>

<body>
    <!-- header -->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo">
                    <a href="index.html" class="logo">
                        <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                        <span class="logo-large"><i class="mdi mdi-radar"></i> 秒杀系统</span>
                    </a>
                </div>
                <!-- End Logo container-->

                <!-- 功能栏 -->
                <div class="menu-extras topbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
                        <!-- 系统通知 -->
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fi-bell noti-icon"></i>
                                <!-- 通知数 -->
                                <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                                <div class="dropdown-item noti-title">
                                    <h6 class="m-0">系统通知</h6>
                                </div>
                                <!-- 通知消息 -->
                                <div class="slimscroll" style="max-height: 230px;">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                                        <p class="notify-details">用户xxx请求添加您为好友。<small class="text-muted">5个小时前</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                                        <p class="notify-details">你收藏的商品已经降价，点击查看。<small class="text-muted">7个小时前</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                                        <p class="notify-details">您购买的商品已经发货，点击查看物流详情。<small class="text-muted">1天前</small></p>
                                    </a>

                                </div>

                                <!-- all notification -->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                    查看所有通知 <i class="fi-arrow-right"></i>
                                </a>
                            </div>
                        </li>
                        <!-- 系统通知 end -->

                        <!-- 未读消息 -->
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fi-speech-bubble noti-icon"></i>
                                <!-- 未读消息数 -->
                                <span class="badge badge-danger badge-pill noti-icon-badge">6</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h6 class="m-0">未读消息</h6>
                                </div>

                                <div class="slimscroll" style="max-height: 230px;">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                </div>

                                <!-- all messages -->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                    查看所有消息 <i class="fi-arrow-right"></i>
                                </a>

                            </div>
                        </li>
                        <!-- 未读消息 end -->

                        <!-- 用户操作 -->
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" alt="user" class="rounded-circle"> <span class="ml-1 pro-user-name">zhongwei chen<i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <div class="dropdown-item noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item -->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fi-head"></i> <span>我的账户</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-cart-outline"></i> <span>购物车</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fi-file-subtract"></i> <span>我的订单</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fi-cog"></i> <span>设置</span>
                                </a>

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fi-power"></i> <span>注销</span>
                                </a>

                            </div>
                        </li>
                        <!--  用户操作 end -->

                    </ul>
                </div>
                <!-- 功能栏 end -->

                <!-- 清除格式 -->
                <div class="clearfix"></div>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end topbar-main -->

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <form action="#">
                        <ul class="navigation-menu p-2">
                            <li class="has-submenu" style="width: 25%;">
                                <input class="form-control" type="text" placeholder="搜索你想要的东西">
                            </li>
                            <li>
                                <button type="submit" class="btn btn-light waves-effect waves-primary" style="zoom: 0.95;margin-bottom: 2px;"> <i class="fa fa-search m-r-5"></i> <span>搜索</span> </button>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- end #navigation -->
            </div>
            <!-- end container -->
        </div>
        <!-- end navbar-custom -->
    </header>
    <!-- end header -->

    <!-- main -->
    <div class="main">
        <div class="wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6 col-xl-3 mt-5">
                            <div class="card-box widget-flat border-custom bg-custom text-white text-right">
                                <i class="iconfont icon-wechat-pay-line" ></i>
                                <h3 class="m-b-10">余额：¥<span data-plugin="counterup">25563</span></h3>
                                <p class="text-uppercase m-b-5 font-13 font-600">微信钱包</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3 mt-5">
                            <div class="card-box widget-flat border-custom bg-custom text-white text-right">
                                <i class="iconfont icon-alipay" ></i>
                                <h3 class="m-b-10">余额：¥<span data-plugin="counterup">2563</span></h3>
                                <p class="text-uppercase m-b-5 font-13 font-600">支付宝钱包</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-xl-3 mt-5">
                            <div class="card-box widget-flat border-custom bg-custom text-white text-right">
                                <i class="iconfont icon-zhifu-yinlian " ></i>
                                <h3 class="m-b-10">余额：¥<span data-plugin="counterup">2563</span></h3>
                                <p class="text-uppercase m-b-5 font-13 font-600">xx银行：6222 **** **** **** 222</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </div>
    <!-- end main -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    这里是页脚
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- 阻止上传表单之后页面跳转 -->
    <iframe name="ajaxFrame" style="display: none;"></iframe>

    <!-- jQuery  -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
    <script src="../static/js/jquery.slimscroll.js" th:src="@{/js/jquery.slimscroll.js}"></script>
    <!-- KNOB JS -->
    <script src="../static/plugins/jquery-knob/jquery.knob.js"></script>

    <!-- Counter Up  -->
    <script src="../static/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="../static/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- App js -->
    <script src="../static/js/jquery.core.js" th:src="@{/js/jquery.core.js}"></script>
    <script src="../static/js/jquery.app.js" th:src="@{/js/jquery.app.js}"></script>
    

</body>

</html>