<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册 - 秒杀系统</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">

    <!-- App css -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="../static/css/icons.css" th:href="@{/css/icons.css}" rel="stylesheet" type="text/css" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />

    <!-- style css -->
    <link rel="stylesheet" href="../static/css/register.css" th:href="@{/css/register.css}">
</head>

<body>
    <!-- header -->
    <header>
    </header>
    <!-- end header -->

    <!-- main -->
    <div class="main">
        <div class="login">
            <div class="login-logo">
                <a href="./index.html" width="80px"><img src="../static/images/favicon.ico" alt=""></a>
                <h4><strong>新用户注册</strong></h4>
            </div>
            <div class="login-frame">
                <form action="#" method="post" enctype="multipart/form-data" th:action="@{/login}" th:method="post">
                    <div class="form-group">
                        <label for="username" class="font-10 font-weight-bold">用户名</label>
                        <input type="alphanum" data-parsley-type="alphanum" name="username" parsley-trigger="change" required placeholder="" data-parsley-required-message="用户名不能为空" class="form-control" minlength="4" maxlength="18" data-parsley-length-message="用户名长度为%s-%s位">
                    </div>
                    <div class="form-group">
                        <label for="e-mail" class="font-10 font-weight-bold">邮箱</label>
                        <input type="email" name="e-mail" parsley-trigger="change" required placeholder="" data-parsley-required-message="邮箱不能为空" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="font-10 font-weight-bold">密码</label>
                        <input type="password" id="password" data-parsley-type="alphanum"  name="password" parsley-trigger="change" required placeholder="" data-parsley-required-message="用户密码不能为空"  data-parsley-length-message="密码长度为%s-%s位" class="form-control" minlength="6" maxlength="18">
                    </div>
                    <div class="form-group">
                        <label for="passWord2" class="font-10 font-weight-bold">确认用户密码</label>
                        <input data-parsley-equalto="#password" data-parsley-type="alphanum" type="password" required placeholder="" class="form-control" data-parsley-required-message="用户密码不能为空" data-parsley-length-message="密码长度为%s-%s位" data-parsley-equalto-message="两次输入的密码不一致，请检查" minlength="6" maxlength="18">
                    </div>
                    <div class="form-group">
                        <label for="verificationCode" class="font-10 font-weight-bold">验证码</label>
                        <div class="verification-code">
                            <div>
                                <input type="alphanum" data-parsley-type="alphanum" name="verificationCode" parsley-trigger="change" required placeholder="" data-parsley-required-message="验证码不能为空" class="form-control">
                            </div>
                            <div class="verificationCode">
                                <img alt="验证码" id="captcha_img" onclick="refresh()" th:src="@{/kaptcha}" title="点击更换验证码"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group login-btn">
                        <input type="submit" value="登录" class="btn btn-custom w-100">
                    </div>
                </form>
            </div>
            <div class="create-account">
                <span>我已经有账号了， <a href="./login.html">登录</a>系统！</span>
            </div>
        </div>
    </div>
    <!-- end main -->

    <!-- footer -->
    <footer>

    </footer>
    <!-- end footer -->

    <!-- 阻止上传表单之后页面跳转 -->
    <iframe name="ajaxFrame" style="display: none;"></iframe>

    <!-- jQuery  -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
    <script src="../static/js/jquery.slimscroll.js" th:src="@{/js/jquery.slimscroll.js}"></script>

    <!-- App js -->
    <script src="../static/js/jquery.core.js" th:src="@{/js/jquery.core.js}"></script>
    <script src="../static/js/jquery.app.js" th:src="@{/js/jquery.app.js}"></script>
    <!-- modernizr js -->
    <script src="../static/js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
    <!-- Parsley js -->
    <script type="text/javascript" src="../static/plugins/parsleyjs/parsley.min.js" th:src="@{/plugins/parsleyjs/parsley.min.js}"></script>
</body>
<script>
    $(document).ready(() => {
        $('form').parsley();
    })
    function refresh() {
        document.getElementById('captcha_img').src = "/kaptcha?" + Math.random();
    }
    window.onbeforeunload = function() {}
</script>

</html>