<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>秒杀系统</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">

    <!-- App css -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link href="../static/css/icons.css" rel="stylesheet" type="text/css" th:href="@{/css/icons.css}" />
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <!-- Dropzone css -->
    <link href="../static/plugins/dropzone/dropzone.css" rel="stylesheet" type="text/css" th:href="@{/plugins/dropzone/dropzone.css}" />

    <!-- date range picker css -->
    <link href="../static/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" th:href="@{/plugins/bootstrap-daterangepicker/daterangepicker.css}">
    <!-- style css -->
    <link href="../static/css/release_goods.css" rel="stylesheet" th:href="@{/css/release_goods.css}">
</head>

<body>
    <!-- header -->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo">
                    <a href="index.html" class="logo">
                        <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                        <span class="logo-large"><i class="mdi mdi-radar"></i> 秒杀系统</span>
                    </a>
                </div>
                <!-- End Logo container-->

                <!-- 功能栏 -->
                <div class="menu-extras topbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">
                        <!-- 未登录时样式demo -->
                        <!-- <li class="dropdown notification-list">
                            <a class="nav-link waves-effect" href="/login" role="button" aria-haspopup="false" aria-expanded="false">
                                <span style="font-weight: bold;">账号登录</span>
                            </a>
                        </li> -->
                        <!-- 未登录时样式demo end -->

                        <!-- 系统通知 -->
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fi-bell noti-icon"></i>
                                <!-- 通知数 -->
                                <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                                <div class="dropdown-item noti-title">
                                    <h6 class="m-0">系统通知</h6>
                                </div>
                                <!-- 通知消息 -->
                                <div class="slimscroll" style="max-height: 230px;">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                                        <p class="notify-details">用户xxx请求添加您为好友。<small class="text-muted">5个小时前</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                                        <p class="notify-details">你收藏的商品已经降价，点击查看。<small class="text-muted">7个小时前</small></p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                                        <p class="notify-details">您购买的商品已经发货，点击查看物流详情。<small class="text-muted">1天前</small></p>
                                    </a>

                                </div>

                                <!-- all notification -->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                    查看所有通知 <i class="fi-arrow-right"></i>
                                </a>
                            </div>
                        </li>
                        <!-- 系统通知 end -->

                        <!-- 未读消息 -->
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fi-speech-bubble noti-icon"></i>
                                <!-- 未读消息数 -->
                                <span class="badge badge-danger badge-pill noti-icon-badge">6</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h6 class="m-0">未读消息</h6>
                                </div>

                                <div class="slimscroll" style="max-height: 230px;">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon"><img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">admin</p>
                                        <p class="text-muted font-13 mb-0 user-msg">您购物车中的商品即将失效，请尽快付款，点击查看。</p>
                                    </a>

                                </div>

                                <!-- all messages -->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                    查看所有消息 <i class="fi-arrow-right"></i>
                                </a>

                            </div>
                        </li>
                        <!-- 未读消息 end -->

                        <!-- 用户操作 -->
                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="../static/images/avatar.png" th:src="@{/images/avatar.png}" alt="user" class="rounded-circle"> <span class="ml-1 pro-user-name" th:each="cookie: ${#httpServletRequest.getCookies()}" th:if="${cookie.getName().equals('username')}" th:text="${cookie.getValue()}">zhongwei chen<i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <div class="dropdown-item noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                                <!-- item -->
                                <a href="./account.html" class="dropdown-item notify-item">
                                    <i class="fi-head"></i> <span>我的账户</span>
                                </a>

                                <!-- item-->
                                <a href="./store_seller.html" class="dropdown-item notify-item">
                                    <i class="dripicons-store"></i> <span>我的店铺</span>
                                </a>

                                <!-- item-->
                                <a href="./show_orders.html" class="dropdown-item notify-item">
                                    <i class="fi-file-subtract"></i> <span>我的订单</span>
                                </a>

                                <!-- item-->
                                <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="fi-cog"></i> <span>设置</span>
                                </a> -->

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item" th:href="@{/logout}">
                                    <i class="fi-power"></i> <span>注销</span>
                                </a>

                            </div>
                        </li>
                        <!--  用户操作 end -->

                    </ul>
                </div>
                <!-- 功能栏 end -->

                <!-- 清除格式 -->
                <div class="clearfix"></div>
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end topbar-main -->

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <form action="#">
                        <ul class="navigation-menu p-2">
                            <li class="has-submenu" style="width: 25%;">
                                <input class="form-control" type="text" placeholder="搜索你想要的东西">
                            </li>
                            <li>
                                <button type="submit" class="btn btn-light waves-effect waves-primary" style="zoom: 0.95;margin-bottom: 2px;"> <i class="fa fa-search m-r-5"></i> <span>搜索</span> </button>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- end #navigation -->
            </div>
            <!-- end container -->
        </div>
        <!-- end navbar-custom -->
    </header>
    <!-- end header -->

    <!-- main -->
    <div class="main">
        <div class="wrapper">
            <div class="container-fluid goods-release-frame">
                <div class="frame-body mt-5" style="width: 40%;">
                    <form action="#" method="post" enctype="multipart/form-data" th:action="@{/add-good}" th:method="post">
                        <div class="form-group">
                            <label for="goods_name" class="font-10 font-weight-bold">商品名称<span class="text-danger">*</span></label>
                            <input type="alphanum" data-parsley-type="alphanum" name="goods_name" th:name="goodName" parsley-trigger="change" required placeholder="" data-parsley-required-message="商品名称不能为空" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="goods_intro" class="font-10 font-weight-bold">商品描述</label>
                            <textarea name="goods_intro" parsley-trigger="change" placeholder="" th:name="goodInfo" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="font-10 font-weight-bold">商品标签/属性</label>
                            <!-- <select multiple data-role="tagsinput">
                                <option value="Amsterdam">Amsterdam</option>
                                <option value="Washington">Washington</option>
                                <option value="Sydney">Sydney</option>
                                <option value="Beijing">Beijing</option>
                                <option value="Cairo">Cairo</option>
                            </select> -->
                            <input id="tags" type="text" data-role="tagsinput" onchange="listeningTags(this)" />
                        </div>
                        <div class="form-group">
                            <label for="goods_price" class="font-10 font-weight-bold">商品价格（原价）<span class="text-danger">*</span></label>
                            <input  data-parsley-type="number" name="goods_price" parsley-trigger="change" th:name="originPrice" required data-parsley-number-message="非法字符，请填写正确的数字" data-parsley-required-message="价格不能为空" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="goods_special_offer" class="font-10 font-weight-bold">秒杀价<span class="text-danger">*</span></label>
                            <input  data-parsley-type="number" name="goods_special_offer" parsley-trigger="change" th:name="spikePrice" required data-parsley-number-message="非法字符，请填写正确的数字" data-parsley-required-message="价格不能为空" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="goods_seckill_time" class="font-10 font-weight-bold">秒杀时间<span class="text-danger">*</span></label>
                            <div>
                                <input type="text" class="form-control input-daterange-timepicker" name="goods_seckill_time" th:name="spikeTime" placeholde="01/01/2017 1:30 PM - 01/01/2017 2:00 PM"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="goods_supply" class="font-10 font-weight-bold">商品库存量<span class="text-danger">*</span></label>
                            <input  data-parsley-type="number" name="goods_supply" parsley-trigger="change" th:name="goodAmount" required data-parsley-min-message="商品库存量最少为1" data-parsley-number-message="非法字符，请填写正确的数字" data-parsley-required-message="商品库存量不能为空" class="form-control" min="1">
                        </div>
                        <div class="form-group">
                            <label for="goods_pics" class="font-10 font-weight-bold">商品详细图片<span class="text-danger">*</span></label>
                            <div class="dropzone" id="dropz">
                                <div class="fallback">
                                    <input name="goods_pics" type="file" multiple required data-parsley-required-message="至少选择一张图片" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group w-100 row-center">
                            <button type="submit" class="btn btn-custom btn-sm mr-5">提交</button>
                            <button type="reset" class="btn btn-light btn-sm" onclick="clearForm()">重新填写</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    这里是页脚
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->

    <!-- 阻止上传表单之后页面跳转 -->
    <iframe name="ajaxFrame" style="display: none;"></iframe>

    <!-- jQuery  -->
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/waves.js" th:src="@{/js/waves.js}"></script>
    <script src="../static/js/jquery.slimscroll.js" th:src="@{/js/jquery.slimscroll.js}"></script>
    <!-- KNOB JS -->
    <script src="../static/plugins/jquery-knob/jquery.knob.js"></script>

    <!-- Counter Up  -->
    <script src="../static/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="../static/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- App js -->
    <script src="../static/js/jquery.core.js" th:src="@{/js/jquery.core.js}"></script>
    <script src="../static/js/jquery.app.js" th:src="@{/js/jquery.app.js}"></script>
    <!-- Parsley js -->
    <script type="text/javascript" src="../static/plugins/parsleyjs/parsley.min.js" th:src="@{/plugins/parsleyjs/parsley.min.js}"></script>
    
    <!-- Dropzone js -->
    <script src="../static/plugins/dropzone/dropzone.js" th:src="/plugins/dropzone/dropzone.js"></script>
    
    <!-- date range picker js -->
    <script src="../static/plugins/moment/moment.js" th:src="/plugins/moment/moment.js"></script>
    <script src="../static/plugins/bootstrap-daterangepicker/daterangepicker.js" th:src="/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="../static/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js" th:src="/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script>
        $(document).ready(() => {
            $('html').width(screen.availWidth);
            $('html').css("visibility", "visible");
            $('form').parsley();

            // 时间选择器
            // 参考文档：https://blog.csdn.net/Webben/article/details/78319276 ; https://blog.csdn.net/baidu_38990811/article/details/79509418
            $('.input-daterange-timepicker').daterangepicker({
                timePicker: true,
                timePicker24Hour: true,
                timePickerIncrement: 5,
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-custom',
                cancelClass: 'btn-light',
                drops: "up",
                autoUpdateInput: true,
                locale : {
                    format: 'YYYY/MM/DD HH:mm',
                    applyLabel : '确定',
                    cancelLabel : '取消',
                    fromLabel : '起始时间',
                    toLabel : '结束时间',
                    customRangeLabel : '自定义',
                    daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                    monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月' ],
                    firstDay : 1
                }
            });
        })
        // dropz图片显示框
        // 文档可参考 https://www.cnblogs.com/zhengfengyun/p/5484842.html
        // url 为图片的上传地址
        Dropzone.autoDiscover = false;
        var dropz = new Dropzone('#dropz', {
            url: 'http://127.0.0.1:3000/test',
            maxFilesize: 10, //MB
            acceptedFiles: ".jpg,.gif,.png,.jpeg", //上传的类型
            dictMaxFilesExceeded: "您最多只能上传10个文件！",
            dictResponseError: '文件上传失败!',
            dictInvalidFileType: "你不能上传该类型文件,文件类型只能是*.jpg,*.gif,*.png,*jpeg。",
            dictFallbackMessage: "浏览器不受支持",
            dictFileTooBig: "文件过大上传文件最大支持.",
            dictDefaultMessage: "选择更多图片（可拖动图片到这里）",
            dictRemoveFile: 'remove',
            dictCancelUpload: 'cancel',
            addRemoveLinks: true,
            removedfile: function(file) {
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            },
            init: function() {
                _this = this;
                this.on("addedfile", function(file) {
                    // 上传文件时触发的回调事件
                    
                });
                this.on("queuecomplete", function(file) {
                    // 当队列中的所有文件上传完成时的回调事件
                });
                this.on("removedfile", function(file) {
                    // 删除文件时触发的回调事件
                    
                });
                this.on("success", function(file, res) {
                    // 文件已经成功上传触发的回调事件
                });
            }
        });
        
        // 清空图片预览框
        var clearForm = function(){
            dropz.removeAllFiles();
        }

        // 监听商品标签
        var listeningTags = function(self){
            // 文档可参考：http://amazeui.github.io/tagsinput/docs/demo.html
            console.log(`当前的标签有${$(self).tagsinput('items')}`)
        }
    </script>
</body>

</html>